// FONT

* {
  box-sizing: border-box;
}

html {
  // 1rem = 10px
  font-size: 10px;
}

body {
  line-height: 1.6;
  font-family: $sans;
  font-weight: 400;
  font-size: 1.6rem;
}

.serif {
  font-family: $serif;
}

.sans {
  font-family: $sans;
}

.container--wide {
  @include min($large) {
    width: 1270px;
  }
}

.container {
  @include container-fixed;

  @media (min-width: $xlarge) {
    width: $container-xl;
  }
  // width: 100%;
  // padding: 0 1.75em;
}

// LAYOUT

// .container {
//   width: 100% - 2 * $site-gutter;
//   max-width: $site-width;
//   margin-right: auto;
//   margin-left: auto;
// }
