// SITE

$site-width:  1110px;
$site-gutter: 7.5%;

// BREAKPOINTS

$tablet:  768px;
$desktop: 1024px;

// FONTS

$sans: "Karla", sans-serif;
$serif: "Playfair Display", serif;

// COLORS
$white: #fff;
$off-white: #f4f4f4; //rgba(244, 244, 244, 100)
$grey: #5b5b5b; //rgba(91, 91, 91, 100)
//$black: #444545; //rgba(68, 69, 69, 100)
$black: #585858;
$primary: #ea9e8d; //rgba(234, 158, 141, 100)
$primary-light: #f5a896;
$tan: #ebe9e9; //rgba(235, 233, 233, 100)
