/**
 *  Define the blog styles.
 *
 */

.blog-intro {
  margin-top: -200px;
  padding: 3em 0;
  text-align: left;
}

.blog-intro__title {
  margin: 1em 0 0.75em;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.excerpt__hero-image {
  border: 14px solid $white;
  height: 440px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.blog-post-excerpt {
  margin: 0 auto 2em;
  padding: 2em;
  text-align: left;
  background: $white;
  color: $black;
}

.excerpt-content {
  border-left: 3px solid $off-white;
  padding-left: 8%;
}

.excerpt__date {
  display: inline-block;
  margin-top: 0.25em;
  letter-spacing: 3px;
  font-size: 2rem;
}

.excerpt__title {
  width: 90%;
  margin-bottom: 0.75em;
  font-family: $serif;
  font-size: 3rem;
  font-weight: bold;
  text-align: left;
  letter-spacing: 1px;
}

.excerpt__body {
  margin-bottom: 1em;
  line-height: 1.8;
  font-size: 1.8rem;
}

.excerpt__link {
  position: relative;
  display: inline-block;
  width: 40%;
  margin-top: 2em;
  padding: 1em;
  background: $off-white;
  color: $black;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  transition: all 0.2s ease;

  &:hover {
    text-decoration: none;
    color: $white;
    background: $primary-light;
    
    &:before {
      top: -15px;
      background: $primary-light;
    }

    &:after {
      bottom: -15px;
      background: $primary-light;
    }
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0;
    display: block;
    height: 15px;
    width: 100%;
    background: $off-white;
    transition: all 0.2s ease;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }
}

// Blog Callout

.blog-callout {
  background: $primary;
  transition: all 0.2s ease;

  &:hover {
    background: $primary-light;
  }
}

.blog-callout__image {
  display: inline-block;
  height: 520px;
  width: 100%;
  border: 14px solid $white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 1px rgba($black, .3);
}

.blog-callout__image--1 {
  background-image: url('https://static.wixstatic.com/media/37e44a_490a5efe96e4486d8a628174dfb21631.jpg/v1/fill/w_777,h_518,al_c,q_90,usm_0.66_1.00_0.01/37e44a_490a5efe96e4486d8a628174dfb21631.jpg');
  backface-visibility: hidden;
  transform: rotate(-1deg);
}

.blog-callout__image--2 {
  background-image: url('https://static.wixstatic.com/media/37e44a_b4b44ac5686f43379f1fd1404be75fd7.jpg/v1/fill/w_777,h_518,al_c,q_90,usm_0.66_1.00_0.01/37e44a_b4b44ac5686f43379f1fd1404be75fd7.jpg');
  background-position: left;
  margin-top: 2em;
  margin-left: -70px;
}

.blog-callout__cta {
  position: relative;
  height: 520px;
}

.blog-callout__cta-link {
  position: absolute;
  top: 50%;
  left: 0%;
  display: block;
  width: 75%;
  font-weight: bold;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-bottom: 1em;
  color: $white;
  transition: all 0.2s ease;

  &:hover {
    color: $black;
    text-decoration: none;

    &:before {
      right: -85px;
      border-left: 7px solid $black;
    }

    &:after {
      width: 90px;
      right: -80px;
      background: $black;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 20px;
    right: -65px;
    display: block;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 7px solid $white;
    transition: all 0.2s ease;
  }

  &:after {
    content: '';
    position: absolute;
    top: 25px;
    right: -60px;
    display: block;
    height: 3px;
    width: 70px;
    background: $white;
    transition: all 0.2s ease;
  }
}

.blog-callout {
  padding: 3em;
  background: $primary;
}
